header{
    background-color: rgb(47, 53, 58);
    color: white;
    text-align: center;
}


.days{
    margin-top: 10px;
}

p {
    font-size: 12px;
    white-space: nowrap;
}

h4 {
    white-space: normal;
}

h6 {
    white-space: nowrap;
}

#uvIndexCondition {
    background-color: red;
    color: white;
    padding: 3px;
}


.forcast-day-card{
    background-color: #037bff;
    color: #fff;
}

.weather{
    display: flex;
    flex-direction: column;
}

.city {
    width: 50%;
}

#icon {
    width: 55px; 
    height: 55px;
}

.icon {
    width: 55px;
    height: 55px;
}